<h3>Add a New Place</h3>
<div class="login-form">
  <form id="form" action="/places/add" method="POST">

      <input type="text" name="name" placeholder="Place Name">
      <br><br>
      <div class="selectorConf">
        <div class="selectorLabel">
          <label for="type">Type of place</label><br>
        </div>
        <select name="type" class="selector">
          <option value="bars">Bars</option>
          <option value="accomodations">Accomodations</option>
          <option value="stores">Stores</option>
          <option value="beaches">Beaches</option>
        </select>
      </div>
      <input type="text" name="description" placeholder="Description">
      <br><br>
     
      <input type="text" name="location" placeholder="Location">
      <br><br>
      
      <input type="file" name="fileupload" value="fileupload" id="fileupload">  
      <input type="submit" value="submit"> 
  
  {{ message }}
    <button type="submit">Add place</button>
  </form>
</div>



