

<header class="header">
  <p>Pet-friendly places around you</p>
</header>

<section class="cards">
  <div class="card first-card">
    <h1><a href="#">Bars</a></h1>
  </div>
  <div class="card second-card">
    <h1><a href="#">Accomodation</a></h1>
  </div>
  <div class="card third-card">
     <h1><a href="#">Stores</a></h1>
  </div>
</section>
