

<header class="header">
  <p>Pet-friendly places around you</p>
</header>

<section class="cards">
  <div class="card first-card">
    <form action="/places" method="get">
    <input type="hidden" name="type" value="bars">
    <a href="places?type=bars">Bars</a>
    </form>
  </div>
  <div class="card second-card">
    <form action="/places" method="get">
    <input type="hidden" name="type" value="accomodations">
    <a href="places?type=accomodations">Accomodations</a>
    </form>
  </div>
  <div class="card third-card">
     <form action="/places" method="get">
    <input type="hidden" name="type" value="stores">
    <a href="places?type=stores">Stores</a>
    </form>
  </div>
  <div class="card fourth-card">
     <form action="/places" method="get">
    <input type="hidden" name="type" value="beaches">
    <a href="places?type=beaches">Beaches</a>
    </form>
  </div>
</section>

<form action="/places" method="get">
  <input type="hidden" name="type" value="bar">
  <button>Bar</button>
  </form>

<form action="/places" method="get">
  <input type="hidden" name="type" value="accomodation">
  <button>Accomodation</button>
  </form>

<form action="/places" method="get">
  <input type="hidden" name="type" value="store">
  <button>Store</button>
  </form>

<form action="/places" method="get">
  <input type="hidden" name="type" value="beach">
  <button>Beach</button>
  </form>
