<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a class="logo">{{title}}</a>
    </nav>
    {{{body}}}
    <footer>
      <p>Created by Andrea / Borja</p>
    </footer>

  </body>
</html>
