<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a class="logo" href="/">Mr Dog</a>
      {{#if currentUser}}
      <p>logged:{{currentUser.username}}</p>
      <form action="/auth/logout" method="POST">
        <input type="submit" value="logout">
      </form>
      {{/if}}
    </nav>
    {{{body}}}
    <footer>
      <p>Created by Andrea / Borja</p>
    </footer>

  </body>
</html>
