/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  background-color:black;

}
/* ---- components ---- */

/*----- layout hbs -----*/
nav { 
height: 80px;
background-color:black;
display: flex;
align-items: center;
}

nav a {
  font-size: 40px;
  color:white;
  padding-left: 20px;
}

.logo{ 
  text-decoration: none;
}

.navy {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  position: fixed;
  height: 60px!important;
  overflow: hidden;
  z-index: 10;
}
.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}
.mainInner{
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.mainInner div{
  display:table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}
#sidebarMenu {
  position: fixed;
  right: 0;
  transform: translateY(-450px);
  margin-top: 150px;
  transition: transform 250ms ease-in-out;
  background-color: black;

}
.sidebarMenuInner{
  margin: 46px 30px 46px;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  padding-left: 5px;

}

.btn-logout{
  background-color: black;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  border: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 25px;
  right: 40px;
  height: 40px;
  width: 60px
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: right;
  margin-top: 7px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 7px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

footer{
  height: 29px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
/*----- index hbs -----*/

header {
  height: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 7px;
}

header p {
  font-size: 25px;
  color:black;
  font-weight: bolder;
  line-height: 1.2;
  margin: 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.cards{
  display: flex;
  flex-direction: column;

}
.card {
 width: 100%;
 padding: 41px 0 30px;
 margin: 7px 0;
 background-color:#e1e0de;;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
}


.card a {
color: white;
font-size: 22px;
text-shadow: 2px 2px 10px #000;
font-weight: 900;
text-transform: uppercase;
text-decoration: none;

}

.first-card { 
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3),rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/images/dog-default.jpg");
  background-position: 100% 30%;
  background-size: cover;
 
}

.second-card { 
  background-image: url(/images/accomodation-category.jpeg);
  background-position: center;
  background-size: cover;
  filter: grayscale(60%);
  
  
}

.third-card { 
  background-image: url(/images/store-category.png);
  background-position: center;
  background-size: cover;
  filter: grayscale(60%);
}

.fourth-card { 
  background-image: url(/images/beach-category.jpg);
  background-position: center;
  background-size: cover;
  filter: grayscale(60%);
}


/*----- login hbs -----*/

 .login-form {
  height: 550px;
  width: 80%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  
}

#form {
  margin: 15px auto;
  width: 80%;
  height: 800px;
  font-size: 20px;
}

#form label {
  color: white;
  display: inline-block;
  margin: 20px 0px;
  text-align: center;
  width: 100%;
}

.field { 
  width:100%;
  
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 15px;
  outline: 0;
  padding: 4px;
  width: 90%;
  height: 40px;
  margin-left: 15px;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 90%;
  margin-top: 2px;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

form p {
  font-size: 15px;
  line-height: 1.3;
  color: white;
}

/*----- list hbs -----*/

.container-list-main {
  display: flex;
  flex-direction: column;
}

.type-title {
  color: white;
  font-size: 30px;
  margin: 0 auto 15px;
  padding-left: 20px;
  text-align: left;
  text-transform: capitalize;
}

.map {
  height: fit-content;
}

.map img {
  width: 100%;
}

.list-container {
  display: flex;
  width: 95%;
}

.list {
  width: 100%;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.list-card {
  width: 100%;
  height: 65px;
  margin: 7px auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  
}

.img-card {
  width: 40%;
}

.li-name {
  width: 55%;
  text-decoration-line: none;
  padding-top: 19px;
  font-size: 20px;
  color: black;
  font-weight: 700;
}

/*----- detail hbs -----*/

.cards-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}

.card-img{
  width: 100%;
  height: 260px;
}


.card-img-top {
  width: 100%;
  height: 100%;
}

.card-info {
  height: 285px;
  margin: 0 3px;
  flex-direction: column;
  text-align: center;
}

.card-title {
  font-size: 35px;
  color: white;
  margin: 30px auto;
}

.card-text {
  padding-top: 15px;
  font-size: 25px;
  color: white;
}

.card-loc {
  font-size: 20px;
  color: white;
  margin-top: 17px;
}

.btn {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 23px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 40%;
  margin-top: 5px; 
}

.btn:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

/*----- profile hbs -----*/

.container-profile {
  margin: 0 20px;
  padding-top: 20px;
}

.profile-data {
color: white;
margin-bottom: 41px;
}

.myplaces-title {
  width: 100%;
  text-align: left;
  color: white;
}

.myplaces-container {
  display: flex;
  justify-content: space-between;
  height: 262px;
  width: 100%;
}

.myplaces-card {
  width: 45%;
  flex-direction: column;
  background-color: white;
  height: 165px;
}

.myplaces-card-img {
  width: 100%;
  height: 65px;
}

.imgpc {
  width: 100%;
  height: 80px;
}

.myplaces-card-info{
  width: 100%;
}

.myplaces-card-info .name {
  color: black;
  font-size: 18px;
  padding-top: 20px;
  margin:0px;
}

.myplaces-card-info .desc {
  color: black;
  font-size: 18px;
  margin:0px;
}

.myplaces-card-info .loc {
  color: black;
  font-size: 15px;
  margin:0px;
}

.btn-add {
  background: #47525C;
  border: 1px solid #47525C;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 23px;
  padding: 7px 60px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
  margin: 5px 0 16px;
}

.btn-add a {
  text-decoration: none;
  text-decoration-line: none;
  color: white;
  font-weight: 300;
}

/*----- add hbs -----*/

.add-container {
  width: 100%;
  margin: 0 25px;
  padding-top: 20px;
}

.add-container h3 {
  color: white;
}

.add-form {
  width: 100%;
  height: 470px;
  margin-left: -25px;
}


 .selectorConf{
  width: 90%;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
}

.selectorConf.label {
  padding-bottom: 10px;
}

.selector-label {
  width: 60%;
}
.selector {
  box-sizing: border-box;
  font-size: 20px;
  outline: 0;
  padding: 4px;
  width: 40%;
  height: 40px;
  margin-bottom: 20px;
}